#kitty {
    width:100px;
    position:center;
    border-radius: 20px;
   
}

body {
    background-image: url("/images/YOmoto2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    min-height: 100vh;
    display:flexbox;
    justify-content:center;
    align-items:center;
    
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0, 3);
  }


h1, h2, em ,p, strong, li
{

    color:aqua;
    align-items:center;
}

a:hover {
 color:black;
}

.fa-youtube  {
    align-items:flex-start;
  background: var(#fff);
  color: rgb(252, 4, 4);
}

.fa-linkedin {
  background: var(#fff);
  color: rgb(58, 4, 252);
}

.imgSlideshow {
    position: center;
    height: 400px;
    width: auto;
    max-width: 600px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.slideshowItem{
    width: 10%;
    height: 10%;
    position: center;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshowItem.active {
    opacity: 1;
}

.imgSlideshow {
    position:initial;
    height: 400px;
    width: auto;
    max-width: 600px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.slideshowItem{
    width: 150px;
    height: 150px;
    position: center;
    object-fit: cover;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.slideshowItem.active {
    opacity: 1;
}